################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbDiagramUtils.csproj.user
/bin/Debug
/obj/Debug
/.vs/DbDiagramUtils/v14/.suo
